.navbar ul {
    list-style-type: none;
    background-color: rgb(242, 161, 79);
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.speaker {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    text-align: center;
    width: 300px;
}

.speaker img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.speaker h3 {
    color: #333;
}

.speaker p {
    color: #666;
    font-size: 14px;
}
